<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rapid_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,189}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{158,189}}</string>
                <key>sourceSize</key>
                <string>{170,191}</string>
            </dict>
            <key>rapid_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{150,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{150,155}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>rapid_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{150,162}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,162}}</string>
                <key>sourceSize</key>
                <string>{154,164}</string>
            </dict>
            <key>rapid_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{150,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>rapid_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,189},{152,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,141}}</string>
                <key>sourceSize</key>
                <string>{152,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>JumpSceneSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
