<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rapid_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,159}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{133,159}}</string>
                <key>sourceSize</key>
                <string>{141,159}</string>
            </dict>
            <key>rapid_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{126,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>rapid_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,159},{126,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>rapid_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,295},{126,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>rapid_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,295},{126,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,119}}</string>
                <key>sourceSize</key>
                <string>{126,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rapidSpriteSheetiPhone-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:914820a80077e670a816915d0ae67250$</string>
            <key>textureFileName</key>
            <string>rapidSpriteSheetiPhone-hd.png</string>
        </dict>
    </dict>
</plist>
