<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rapid_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{67,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>rapid_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rapid_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,79},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>rapid_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>rapid_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,147},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rapidSpriteSheetiPhone.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb6e2448237d74f164bd05c3ed3f7ae7$</string>
            <key>textureFileName</key>
            <string>rapidSpriteSheetiPhone.png</string>
        </dict>
    </dict>
</plist>
